:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #e0dcd4;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

html {scroll-behavior: smooth;}

a { color: var(--primary-color);}
a.hover {color:var(--primary-color);}

/*
* Main header
*/
.header{
    z-index: 2;
}

/*
* Flyout navigation bar.
*/
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 4;
}

/*
* Hero Section
*/
.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

@media (min-width: 1400px) {
    .hero__heading {
        font-size: 3.2rem;
    }
}

.hero__background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /* Figure out why he does transform instead of just not useing top, left 50%? */
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.8;
}

.hero_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.3;
    z-index: 1;
}

.hero__content {
    z-index: 1;
}

.hero__content-width {
    max-width: 540px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs-light);
    opacity: 0.7;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(-10px);   
    }
}

/*
* Steps Section
*/
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}

.steps--background {
    background-color: #FEF8F9;
}

@media (min-width: 544px) {
    .steps {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    .steps__section-thumbnail {
        height: auto;
    }
}

/*
* Foorter
*/
.footer .border-highlight {
    border-top: 1px solid var(--primary-color-highlight)
}